$header-width: 90%;

.headerWrapper {
  width: $header-width;
  margin: auto;

  .topHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .topHeaderMenu {
      display: flex;
      column-gap: 10px;
    }

    .titleWrapper {
      display: flex;

      .title {
        font-size: 36px;
      }

      .logo {
        height: 50px;
        width: 50px;
      }
    }
  }

  .middleHeaderWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .middleHeaderMenuWrapper {
      display: flex;
      align-items: center;

      .middleHeaderMenu {
        margin-left: 30px;
        display: flex;
        column-gap: 10px;
      }
    }

    .iconMenu {
      display: flex;
      column-gap: 12px;
    }
  }
}

.bottomHeaderWrapper {
  background-color: #1c1c1c;
  color: #f3f3f3;

  .bottomHeaderMenuInner {
    width: $header-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    .menuLink {
      padding: 4px 12px;
      border-radius: 6px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.26px;

      &:hover {
        background-color: #6009b0;
      }
    }
  }
}
